<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.report.ReportDAO">
	<select id="reportList">
		SELECT report_idx, reported_id, reporting_id, report_category, report_content, report_date, report_state
		FROM report ORDER BY report_idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="allCount" resultType="int">
		SELECT CEIL(COUNT(report_idx)/#{param1}) FROM report
	</select>
	<select id="reportDetail" parameterType="String">
		SELECT * FROM report WHERE report_idx = #{report_idx}
	</select>  
 
	<insert id="processWrite" parameterType="com.sulbazi.report.ProcessDTO"
    	useGeneratedKeys="true" keyProperty="process_idx" keyColumn="process_idx">
    	INSERT INTO process (report_idx, admin_id, process_content, process_result, revoke_idx)
    	VALUES (#{report_idx}, #{admin_id}, #{process_content}, #{process_result}, #{revoke_idx})
	</insert>
	<update id="updateReportResult" parameterType="map">
    	UPDATE report
    	SET report_state = #{result, jdbcType=INTEGER}
    	WHERE report_idx = #{report_idx}
	</update>
	<select id="getProcessesByReportIdx" parameterType="int" resultType="com.sulbazi.report.ProcessDTO">
    	SELECT * FROM process WHERE report_idx = #{report_idx} ORDER BY process_idx DESC
	</select>
	<select id="getReportedIdByReportIdx" parameterType="int" resultType="com.sulbazi.report.ReportDTO">
    	SELECT * FROM report WHERE report_idx = #{report_idx}
	</select>
	
	<select id="getAllReports" resultType="com.sulbazi.report.ReportDTO">
        SELECT * FROM report
    </select>
    
    <select id="getReportsByState" parameterType="int" resultType="com.sulbazi.report.ReportDTO">
        SELECT * FROM report WHERE report_state = #{state}
    </select>
    
    
    
    <!-- 채팅 신고 기능 -->
    <!-- 개인, 지역 채팅방 메세지 신고 -->
    <insert id="usermsgreport" parameterType="com.sulbazi.report.ReportDTO">
    	INSERT INTO report (reported_id, reporting_id, report_category, reported_idx, report_content)
    				VALUES(#{reported_id}, #{reporting_id}, #{report_category}, #{reported_idx}, #{report_content})
    </insert>
    
</mapper>