<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.report.ReportDAO">
	<select id="reportList">
		SELECT report_idx, reported_id, reporting_id, report_category, report_content, report_date, report_state
		FROM report ORDER BY report_idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="allCount" resultType="int">
		SELECT CEIL(COUNT(report_idx)/#{param1}) FROM report
	</select>
	<select id="reportDetail" parameterType="String">
		SELECT * FROM report WHERE report_idx = #{report_idx}
	</select>
	<insert
		useGeneratedKeys="true"
      	keyColumn="process_idx"
      	keyProperty="process_idx" 
		id="processWrite" parameterType="com.sulbazi.report.ProcessDTO">
		INSERT INTO process(report_idx, admin_id, process_content, process_result) VALUES
		<choose>
				<when test="process_result.equals('revoke')">
					(#{report_idx},#{admin_id},#{process_content},'이용 제한')
				</when>
				<otherwise>
					(#{report_idx},#{admin_id},#{process_content},'반려')		
				</otherwise>
			</choose>
	</insert>
	<select id="process" parameterType="com.sulbazi.report.ProcessDTO">
		SELECT * FROM report WHERE process_idx = #{process_idx}
	</select>
</mapper>