<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.category.CategoryDAO">

	<select id="categoryList" parameterType="com.sulbazi.category.CategoryOptDTO">
		SELECT * FROM category_opt ORDER BY opt_idx ASC
	</select>
	
	<insert id="categoryAdd" parameterType="com.sulbazi.category.CategoryOptDTO">
		INSERT INTO category_opt(category_idx, opt_name) VALUES
			<if test="keyword != null and cate_opt == 'drink'">
				('1',#{keyword})
			</if>
			<if test="keyword != null and cate_opt == 'menu'">
				('2',#{keyword})
			</if>
			<if test="keyword != null and cate_opt == 'mood'">
				('3',#{keyword})
			</if>
			<if test="keyword != null and cate_opt == 'visit'">
				('4',#{keyword})
			</if>
	</insert>
	
	<update id="categoryState" parameterType="map">
        UPDATE category_opt
        SET category_state = #{state}
        WHERE opt_name = #{category}
    </update>
    
    
<!-- 매장 리스트 필터링 -->
<select id="storefiltering" resultType="com.sulbazi.member.StoreDTO">
    SELECT s.store_idx, s.store_id, s.store_pw, s.store_number, s.store_name, 
           s.store_phone, s.store_time, s.store_address, s.store_latitude, 
           s.store_longitude, s.review_total, s.star_average, s.bookmark_user
    FROM store_category sc
    INNER JOIN store s ON sc.store_idx = s.store_idx
    WHERE s.store_idx IN (
        SELECT store_idx
        FROM store_category
        WHERE opt_idx = #{param1}
    )
    AND s.store_idx IN (
        SELECT store_idx
        FROM store_category
        WHERE opt_idx = #{param2}
    )
    AND s.store_idx IN (
        SELECT store_idx
        FROM store_category
        WHERE opt_idx = #{param3}
    )
    AND s.store_idx IN (
        SELECT store_idx
        FROM store_category
        WHERE opt_idx = #{param4}
    )
    GROUP BY s.store_idx
    ORDER BY s.star_average DESC, s.review_total DESC, s.store_idx ASC
    LIMIT #{param5}, #{param6}
</select>

<!-- 토탈 페이지 -->
<select id="getTotalPages" resultType="int">
    SELECT COUNT(*)
    FROM (
        SELECT store_idx
        FROM store_category
        WHERE opt_idx IN (#{param1}, #{param2}, #{param3}, #{param4})
        GROUP BY store_idx
        HAVING COUNT(DISTINCT opt_idx) = 4
    ) AS filtered_store
</select>
	
	<select id="joincategory" resultType="com.sulbazi.category.CategoryOptDTO">
		SELECT * FROM category_opt
	</select>
	
	<insert id="userJoindo" parameterType="com.sulbazi.category.UserCategoryDTO">
	    INSERT INTO user_category (user_id, opt_idx)
	    	VALUES (#{user_id}, #{opt_idx})
	</insert>

	<insert id="storejoin" parameterType="com.sulbazi.category.StoreCategoryDTO">
		INSERT INTO store_category (store_idx, opt_idx)
			VALUES (#{store_idx}, #{opt_idx})
	</insert>


	
	<!-- 매장 카테고리 업데이트 -->
	<!-- update문 불가로 delete와 insert문 사용 -->
	<delete id="deletemystoreopt" >
		DELETE FROM store_category WHERE store_idx=#{param1}
	</delete>
	
	<insert id="updatemystoreopt">
		INSERT INTO store_category(opt_idx, store_idx) 
			VALUES (#{opt_idx}, #{store_idx})
	</insert>
	
	
	

	
	<select id="updateOpt" parameterType="String" resultType="int">
    	SELECT opt_idx FROM category_opt WHERE opt_name = #{opt_name}
	</select>
	<select id="userUpdate" parameterType="map" resultType="boolean">
    	SELECT COUNT(*) > 0
    	FROM user_category
    	WHERE user_id = #{user_id} AND opt_idx = #{opt_idx}
	</select>
	<update id="userUpdateCate" parameterType="map">
    	UPDATE user_category 
    	SET opt_idx = #{opt_idx}
    	WHERE user_id = #{user_id} AND opt_idx = #{opt_idx}
	</update>
	<insert id="userInsertCate" parameterType="map">
    	INSERT INTO user_category (user_id, opt_idx)
    	VALUES (#{user_id}, #{opt_idx})
	</insert>
	<!-- 리뷰 -->
	<insert id="insertOption" >
	INSERT INTO review_category (review_idx,opt_idx)
		VALUES (#{param3},#{param1}), (#{param3},#{param2})
	</insert>
	<!-- 리뷰 카테고리 업데이트 에 필요한 카테고리 -->
	<delete id="selectCategory" parameterType="map">
	    DELETE FROM review_category 
			WHERE review_idx = #{reviewIdx}
	</delete>
	<insert id="insertCategory" parameterType="map" >
	INSERT INTO review_category (review_idx,opt_idx)
		VALUES (#{reviewIdx},#{purposeValue}), (#{reviewIdx},#{moodValue})
	</insert>
	
	
	<!-- 리뷰 카테고리 업데이트 -->
	<update id="categoryUpdate" parameterType="int">
		update review_category set opt_idx = #{param2}
			where review_idx = #{param3} and opt_idx = #{param1}
	</update>
	<update id="categoryUpdateTwo" parameterType="int">
		update review_category set opt_idx = #{param2}
			where review_idx = #{param3} and opt_idx = #{param1}
	</update>
</mapper>