<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.category.CategoryDAO">

	<select id="categoryList" parameterType="com.sulbazi.category.CategoryOptDTO">
		SELECT * FROM category_opt ORDER BY opt_idx ASC
	</select>
	
	<insert id="categoryAdd" parameterType="com.sulbazi.category.CategoryOptDTO">
		INSERT INTO category_opt(category_idx, opt_name) VALUES
			<if test="keyword != null and cate_opt == 'drink'">
				('1',#{keyword})
			</if>
			<if test="keyword != null and cate_opt == 'menu'">
				('2',#{keyword})
			</if>
			<if test="keyword != null and cate_opt == 'mood'">
				('3',#{keyword})
			</if>
			<if test="keyword != null and cate_opt == 'visit'">
				('4',#{keyword})
			</if>
	</insert>
	
	<update id="categoryState" parameterType="map">
        UPDATE category_opt
        SET category_state = #{state}
        WHERE opt_name = #{category}
    </update>
    
    
    <!-- 매장 리스트 필터링 -->
    <select id="storefiltering" resultType="int">
		SELECT store_idx FROM store_category WHERE opt_idx=#{param1} 
			OR opt_idx=#{param2} OR opt_idx=#{param3} 
			OR opt_idx=#{param4} GROUP BY store_idx
	</select>
	
	<select id="joincategory" resultType="com.sulbazi.category.CategoryOptDTO">
		SELECT * FROM category_opt
	</select>
	
	<insert id="userJoindo" parameterType="com.sulbazi.category.UserCategoryDTO">
	    INSERT INTO user_category (user_id, opt_idx)
	    	VALUES (#{user_id}, #{opt_idx})
	</insert>

	<insert id="storejoin" parameterType="com.sulbazi.category.StoreCategoryDTO">
		INSERT INTO store_category (store_idx, opt_idx)
			VALUES (#{store_idx}, #{opt_idx})
	</insert>
	
	<!-- 매장 카테고리 업데이트 -->
	<!-- update문 불가로 delete와 insert문 사용 -->
	<delete id="deletemystoreopt" >
		DELETE FROM store_category WHERE store_idx=#{param1}
	</delete>
	
	<insert id="updatemystoreopt">
		INSERT INTO store_category(opt_idx, store_idx) 
			VALUES (#{opt_idx}, #{store_idx})
	</insert>
	
	
	
	
</mapper>