<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.chat.ChatPartiDAO">

	<!-- 개인 채팅방 참여 -->
	<!-- 개인 채팅방 참여 상태 -->
	<select id="roomin" resultType="com.sulbazi.chat.PartiDTO">
		SELECT user_id from parti WHERE user_id = #{userId} AND parti_state = 1 AND chatroom_idx = #{idx} 
	</select>
	
	<!-- 개인 채팅방 참여 신청 지금 1 나중에 0으로 바꾸기 -->
	<!-- <insert id="userparti" parameterType="com.sulbazi.chat.PartiDTO">
		INSERT INTO parti (user_id, parti_state, chatroom_category, chatroom_idx)
	    SELECT #{userId}, 1, 'userchat', #{idx}
	    WHERE NOT EXISTS (
	        SELECT 1 FROM parti 
	        WHERE user_id = #{userId} 
				AND chatroom_category = 'userchat' 
				AND chatroom_idx = #{idx}
	    )
	</insert> -->
	<insert id="userparti" parameterType="com.sulbazi.chat.PartiDTO">
		INSERT INTO parti (user_id, chatroom_category, chatroom_idx)
	    SELECT #{userId}, 'userchat', #{idx}
	    WHERE NOT EXISTS (
	        SELECT 1 FROM parti 
	        WHERE user_id = #{userId} 
				AND chatroom_category = 'userchat' 
				AND chatroom_idx = #{idx}
	    )
	</insert>
	
	<!-- 방에 참여중인 총 사용자 - 개인 -->
	<select id="usertotal" parameterType="int" resultType="int">
		SELECT COUNT(user_id) FROM parti WHERE chatroom_idx = #{idx} AND chatroom_category = 'userchat' AND parti_state = 1
	</select>
	
	<!-- 방에 참여중인 사용자 - 개인 -->
	<select id="userlist" resultType="com.sulbazi.chat.PartiDTO">
		SELECT user_id FROM parti WHERE chatroom_idx = #{idx} AND parti_state = 1 AND chatroom_category = 'userchat'
	</select>
	
	<!-- 개인 채팅방 참여자 리스트 -->
	<select id="userlistajax" parameterType="int" resultType="map">
		SELECT p.user_id, u.user_nickname, u.user_photo 
		FROM user u
		JOIN parti p ON u.user_id = p.user_id 
		WHERE p.chatroom_idx = #{chatroom_idx}
		AND p.parti_state = 1
		AND chatroom_category = 'userchat'
	</select>
	
	<!-- 채팅방 개설 후 참여 -->
	<insert id="createparti" parameterType="com.sulbazi.chat.PartiDTO">
		INSERT INTO parti (user_id, parti_state, chatroom_category, chatroom_idx)
	    SELECT #{userId}, 1, 'userchat', #{idx}
	    WHERE NOT EXISTS (
	        SELECT 1 FROM parti 
	        WHERE user_id = #{userId} 
				AND chatroom_category = 'userchat' 
				AND chatroom_idx = #{idx}
	    )
	</insert>
	
	<!-- 개인 채팅방에서 나가기 -->
	<delete id="userroomout">
		DELETE FROM parti WHERE user_id = #{user_id} AND chatroom_idx = #{chatroom_idx}
	</delete>
	
	<!-- 개인 채팅방 강퇴 -->
	<delete id="kickuser">
		DELETE FROM parti 
	    WHERE user_id = #{user_id} 
	    AND chatroom_idx = #{chatroom_idx} 
	    AND chatroom_category = 'userchat'
	</delete>
	
	
	
	
	
	<!-- 지역 채팅방 참여자 총 인원  -->
	<select id="localtotal" parameterType="int" resultType="int">
		SELECT COUNT(user_id) FROM parti WHERE chatroom_idx = #{chatroom_idx} AND chatroom_category = 'localchat' AND parti_state = 1
	</select>
	
	<!-- 지역 채팅방 참여 상태 확인 -->
	<update id="localreparti">
	    UPDATE parti
	    SET parti_state = 1
	    WHERE user_id = #{userId}
		      AND chatroom_category = 'localchat'
		      AND chatroom_idx = #{idx}
	</update>
	
	<!-- 지역 채팅방 참여 -->
	<insert id="insertlocalparti" parameterType="com.sulbazi.chat.PartiDTO">
		INSERT INTO parti (user_id, parti_state, chatroom_category, chatroom_idx)
		SELECT #{userId}, 1, 'localchat', #{idx}
		WHERE NOT EXISTS (
		    SELECT 1 FROM parti 
		    WHERE user_id = #{userId} 
			      AND chatroom_category = 'localchat' 
			      AND chatroom_idx = #{idx}
		)
	</insert>
	
	<!-- 지역 채팅방에서 나가면 참여상태 false -->
	<update id="localroomout">
	    UPDATE parti
	    SET parti_state = 0
	    WHERE user_id = #{user_id} 
	      AND chatroom_idx = #{chatroom_idx} 
	      AND chatroom_category = 'localchat'
	</update>
	
	
	<!-- 방에 참여중인 사용자 - 지역 -->
	<!-- <select id="localuserlist" resultType="com.sulbazi.chat.PartiDTO">
		SELECT user_id FROM parti WHERE chatroom_idx = #{idx} AND parti_state = 1 AND chatroom_category = 'localchat'
	</select> -->
	
	<!-- 지역 채팅방 참여자 리스트 -->
	<select id="localuserlistajax" parameterType="int" resultType="map">
		SELECT p.user_id, u.user_nickname, u.user_photo 
			FROM user u
			JOIN parti p ON u.user_id = p.user_id 
			WHERE p.chatroom_idx = #{localchat_idx}
			AND p.parti_state = 1
			AND chatroom_category = 'localchat'
	</select>
	<!-- 개인 채팅방 참여자 리스트 -->
	
	
	
	
	
	
	
	
	
	
	
</mapper>