<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.sulbazi.chat.ChatRoomDAO">

	<!-- 개인 채팅방 리스트 -->
	<select id="chatlist" resultType="com.sulbazi.chat.UserChatroomDTO">
		SELECT 
	        userchat_idx,
	        user_id,
	        userchat_subject,
	        userchat_date,
	        userchat_state,
	        current_people,
	        max_people,
	        notice
	    FROM userchat 
	    WHERE userchat_state = 1
	    ORDER BY userchat_date DESC
	</select>
	
	<!-- 개인 채팅방 리스트 - 검색결과 -->
	<select id="search" parameterType="String" resultType="map">
	    SELECT 
	        uc.userchat_idx,
	        uc.user_id,
	        uc.userchat_subject,
	        DATE_FORMAT(uc.userchat_date, '%Y-%m-%d') AS userchat_date,
	        uc.userchat_state,
	        uc.current_people,
	        uc.max_people,
	        uc.notice,
	        u.user_photo,
	        u.user_nickname
	    FROM 
	        userchat uc
	    JOIN 
	        user u ON uc.user_id = u.user_id 
	    WHERE 
	        uc.userchat_subject LIKE CONCAT('%', #{query}, '%') 
	        AND uc.userchat_state = 1
</select>
	
	<!-- 개인 채팅방 생성 -->
	<insert id="chatcreate" 
		useGeneratedKeys="true"
		keyColumn="userchat_idx"
		keyProperty="userchat_idx"
		parameterType="com.sulbazi.chat.UserChatroomDTO">
		INSERT INTO userchat(user_id, userchat_subject, current_people, max_people)
		SELECT #{user_id}, #{userchat_subject}, 1, #{max_people} FROM DUAL
		WHERE NOT EXISTS (
	        SELECT 1
	        FROM userchat
	        WHERE user_id = #{user_id}
	        AND userchat_state = 1
    	)
	</insert> 

	<!-- 생성한 채팅방 수정 -->
	<update id="updatechatroom">
		UPDATE userchat
	    SET userchat_subject = #{userchat_subject}, 
	        userchat_state = #{userchat_state},
	        max_people = #{max_people}
    	WHERE userchat_idx = #{userchat_idx}
	</update>

	<!-- 공지 등록, 수정 -->
	<update id="updatenotice">
		UPDATE userchat
		SET notice = #{notice}
		WHERE userchat_idx = #{userchat_idx}
	</update>
	
	<!-- 개인 채팅방 삭제(비공개) -->
	<update id="deletechatroom">
		UPDATE userchat SET userchat_state = 0
		WHERE userchat_idx = #{userchat_idx} 
		AND user_id = #{user_id}
	</update>

	<!-- 내가 참여중인 채팅방 목록 -->
	<select id="myroomlist" resultType="com.sulbazi.chat.UserChatroomDTO">
		SELECT uc.userchat_idx, uc.user_id, uc.userchat_subject, uc.current_people, uc.max_people
		FROM userchat uc
		WHERE uc.userchat_state = 1
		  AND uc.userchat_idx IN (
		      SELECT p.chatroom_idx AS userchat_idx 
		      FROM parti p 
		      WHERE p.user_id = #{user_id} 
		        AND p.parti_state = 1 
		        AND p.chatroom_category = 'userchat'
		  )
	</select>
	
	<!-- 방 정보 가져오기 -->
	<select id="roominfo" resultType="com.sulbazi.chat.UserChatroomDTO">
		SELECT * FROM userchat WHERE userchat_idx = #{idx}
	</select>
	
	<!-- 현재 인원수 추가 -->
	<update id="roomin">
		UPDATE userchat SET current_people =#{total} WHERE userchat_idx = #{roomidx}
	</update>
	
	<!-- 입장 가능 인원 수 -->
	<select id="current" resultType="java.lang.Integer">
		SELECT current_people FROM userchat WHERE userchat_idx = #{idx}
	</select>
	
	<!-- 개인 채팅방 나가기 -->
	<update id="userroomout">
		UPDATE userchat SET current_people = #{total} WHERE userchat_idx = #{chatroom_idx}
	</update>
	
	
	
	<!-- 지역 채팅방 리스트 -->
	<select id="localchatlist" resultType="com.sulbazi.chat.LocalChatroomDTO">
		SELECT 
			localchat_idx,
			local_category 
		FROM localchat ORDER BY localchat_idx
	</select>
	
	<!-- 지역 채팅방 참여 -->
	<select id="localroom" resultType="com.sulbazi.chat.LocalChatroomDTO">
		SELECT * FROM localchat ORDER BY localchat_idx
	</select>
	
	<!-- 지역 채팅방 정보 -->
	<select id="localroominfo" resultType="com.sulbazi.chat.LocalChatroomDTO">
		SELECT * FROM localchat WHERE localchat_idx = #{idx}
	</select>
</mapper>