<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.sulbazi.alarm.AlarmDAO">

	<!-- 속도개선 즐찾쿼리-->
	<select id="storealarm" resultType="com.sulbazi.alarm.AlamDTO">
		SELECT *
		FROM 
			store
		INNER JOIN 
			bookmark ON store.store_idx=bookmark.store_idx
		INNER JOIN 
			board ON board.store_idx=store.store_idx
		WHERE user_id = #{param1} ORDER BY board_idx DESC LIMIT 1
	</select>
	
	
	
	<!-- 속도개선 대화방 쿼리 -->
	<select id="chatallalarm" resultType="com.sulbazi.alarm.AlamDTO">
		SELECT parti_idx,
					parti.user_id AS partiuser, 
					parti_state,	
					chatroom_category, 
					chatroom_idx
					userchat_subject
		FROM 
			userchat 
		INNER JOIN 
			parti ON userchat.userchat_idx=parti.chatroom_idx	
		WHERE parti_state=#{parti_state} 
			AND userchat.user_id=#{chatroomboss}
			AND parti.user_id=#{partiuser}
	</select>
	
	<!-- 개인 대화방 정보 by user_id-->
	<select id="userchatroominfo" resultType="com.sulbazi.chat.UserChatroomDTO">
		SELECT userchat_idx, user_id, userchat_subject FROM userchat
			WHERE user_id = #{param1}
	</select>
	
	<!-- 대화방 참여자 정보 -->
	<select id="partiinfo" parameterType="com.sulbazi.chat.PartiDTO"
		resultType="com.sulbazi.chat.PartiDTO">
		SELECT parti_idx, user_id, parti_state, chatroom_category, chatroom_idx
			FROM parti
			WHERE parti_state=#{parti_state} AND user_id=#{user_id}
			AND chatroom_idx=#{chatroom_idx}   
	</select>
	
	
	
	<!-- 고객센터 정보 by inquery_idx -->
	<select id="inquiryinfoidx" resultType="com.sulbazi.inquery.InqueryDTO">
		SELECT inquery_idx, inquery_subject, id_write, inquery_state FROM inquery
			WHERE inquery_idx=#{inquery_idx}
	</select>
	

	<!-- 읽음& 안읽음 -->
	<select id="alarmreadornot" 
		parameterType="com.sulbazi.alarm.AlamDTO" 
		resultType="com.sulbazi.alarm.AlamDTO">
		SELECT * FROM alarm WHERE alarm_read=#{alarm_read} 
			AND user_id=#{user_id} AND alarm_category_idx=#{alarm_category_idx}
	</select>
	
	<!-- 안읽음 -->
	<select id="alarmnotread" resultType="com.sulbazi.alarm.AlamDTO">
		SELECT * FROM alarm WHERE alarm_read=0 
			AND user_id=#{param1}
	</select>
	
	
	<!-- 읾음 처리 -->
	<update id="readalarm">
		UPDATE alarm SET alarm_read=1 WHERE alarm_idx=#{param1}
	</update>
	
	<!-- 대화방 알림 모음 -->
	<select id="chatalarm" 
		parameterType="com.sulbazi.alarm.AlamDTO" 
		resultType="com.sulbazi.alarm.AlamDTO">
		SELECT * FROM alarm 
			WHERE alarm_category_idx IN (1, 2, 3, 5)
  			AND alarm_read = #{alarm_read} AND user_id=#{user_id}
	</select>
	
	<!-- 즐겨찾기 or 관리자 알림 모음 -->
	<select id="categoryalarm" resultType="com.sulbazi.alarm.AlamDTO">
		SELECT * FROM alarm WHERE alarm_category_idx=#{param1}
	</select>
		
	<!-- 알림 카테고리 별 알림 -->
	<select id="categoryalarminfo" resultType="com.sulbazi.alarm.AlarmCategoryDTO">
		SELECT * FROM alarm_category WHERE alarm_category_idx=#{param1}
	</select>
	
	<!-- 알림 insert -->
	<insert id="alarminsert" 
	  useGeneratedKeys="true"
	  keyColumn="alarm_idx"
	  keyProperty="alarm_idx" parameterType="com.sulbazi.alarm.AlamDTO">
		INSERT INTO alarm(user_id, alarm_category_idx,alarm_subject) 
			VALUES(#{user_id}, #{alarm_category_idx},#{alarm_subject})
	</insert>
	

	<!-- 강퇴 알림 -->
	<insert id="kickuser" parameterType="com.sulbazi.alarm.AlamDTO">
		INSERT INTO alarm(user_id, alarm_category_idx)
							VALUES(#{user_id}, 2)
	</insert>

	
</mapper>