<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.message.LocalMsgDAO">
	<!-- 신고 당한 지역 메시지 내용뽑아오기 -->
	<select id="localreportedIdx" parameterType="int" resultType="String">
    	SELECT localmsg_content FROM localmsg WHERE localmsg_idx = #{reported_idx}
	</select>
</mapper>