<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.message.LocalMsgDAO">

	<!-- 지역 채팅방 입장 시 해당 방 메세지들 출력 -->
	<select id="localmsg" resultType="com.sulbazi.message.LocalMsgDTO">
		SELECT * FROM localmsg WHERE localchat_idx = #{idx}
	</select>


</mapper>