<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.main.MainDAO">
	<select id="mainStore" parameterType="com.sulbazi.member.StoreDTO">
		SELECT * FROM store ORDER BY star_average DESC LIMIT 4
	</select>
</mapper>  