<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.main.MainDAO">
	<select id="mainStore" parameterType="com.sulbazi.member.StoreDTO" resultType="com.sulbazi.member.StoreDTO">
		SELECT store_idx, store_name, star_average, review_total  FROM store ORDER BY star_average DESC LIMIT 4
	</select>
	<select id="mainChat" parameterType="com.sulbazi.chat.UserChatroomDTO">
		SELECT user_id, userchat_idx, userchat_subject, current_people, max_people, userchat_date  FROM userchat WHERE userchat_state = 1 ORDER BY userchat_date DESC LIMIT 4
	</select>
	<select id="profile" parameterType="String" resultType="com.sulbazi.member.UserDTO">
		SELECT user_photo, user_nickname FROM user WHERE user_id = #{user_id}
	</select> 
	<select id="mainBoard" parameterType="com.sulbazi.board.BoardDTO">
		SELECT store_idx, board_subject, board_category, board_idx, like_count, board_bHit, board_date  FROM board WHERE board_state = 1 ORDER BY board_date DESC LIMIT 4 
	</select>
	<select id="storeInfo" parameterType="int" resultType="com.sulbazi.member.StoreDTO">
    	SELECT store_idx, store_name, star_average, review_total FROM store WHERE store_idx = #{store_idx}
	</select>
</mapper>  