<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>



<mapper namespace="com.sulbazi.inquery.InqueryDAO">

	<insert id="userinquerywrite" 
		useGeneratedKeys="true"
		keyColumn="inquery_idx"
		keyProperty="inquery_idx"
		parameterType="com.sulbazi.inquery.InqueryDTO">
		INSERT INTO inquery(inquery_subject, inquery_content, id_category, id_write)
			VALUES(#{inquery_subject},#{inquery_content},#{id_category},#{id_write})
	</insert>
	
	<insert id="inqueryfileWrite" >
		INSERT INTO photo(photo_category_idx,new_filename,photo_folder_idx)
			VALUES(#{param1}, #{param2},#{param3})
	</insert>
	
	<!-- 일단 join써봄 -->
	<select id="userlistinquery">
		SELECT * 
		FROM 
			inquery
		INNER JOIN 
			answer ON inquery.inquery_idx=answer.inquery_idx
		INNER JOIN 
			admin ON answer.admin_id=admin.admin_id
		WHERE
			inquery.id_write=#{param1}		
	</select>
	

	
	<!-- 문의 리스트 -->
	<select id="admininquerylist" resultType="com.sulbazi.inquery.InqueryDTO">
    	SELECT inquery_idx,id_write, inquery_subject,inquery_date, inquery_state FROM inquery
    	ORDER BY inquery_idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="inqueryCount" resultType="int">
		SELECT CEIL(COUNT(inquery_idx)/#{param1}) FROM inquery
	</select>
	
	
    <!-- 문의 리스트 필터링 -->
    <select id="inqueryfiltering" resultType="com.sulbazi.inquery.InqueryDTO">
		SELECT inquery_idx,id_write, inquery_subject,inquery_date, inquery_state FROM inquery 
			WHERE inquery_state=#{param1}
			ORDER BY inquery_idx DESC LIMIT #{param2} OFFSET #{param3}
	</select>
	
	<!--문의 필터링 페이징 -->
	<select id="inqueryfilteringCount" resultType="int">
		SELECT CEIL(COUNT(inquery_idx)/#{param1}) FROM inquery WHERE inquery_state=#{param2}
	</select>
	
	
	<!-- 문의 리스트 전체 필터링 -->
    <select id="inqueryfilteringall" resultType="com.sulbazi.inquery.InqueryDTO">
		SELECT inquery_idx,id_write, inquery_subject,inquery_date, inquery_state FROM inquery
			ORDER BY inquery_idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<!--문의 필터링 전체 페이징 -->
	<select id="inqueryfilteringallCount" resultType="int">
		SELECT CEIL(COUNT(inquery_idx)/#{param1}) FROM inquery
	</select>
	
	<!-- 문의 필터링 & 아이디 검색 -->
 	<select id="inquerysearch" 
		parameterType="map"
		resultType="com.sulbazi.inquery.InqueryDTO"
		flushCache="true">
    	SELECT id_write, inquery_subject, inquery_date, inquery_state,inquery_idx 
    		FROM inquery 
    		WHERE inquery_state = #{imqueryDTO.inquery_state} 
    		AND id_write LIKE CONCAT('%', #{imqueryDTO.id_write}, '%')
    		ORDER BY inquery_idx DESC LIMIT #{limit} OFFSET #{offset}
	</select> 
	
	<!--문의 필터링&검색 전체 페이징 -->
	<select id="inquerysearchCount" 
		parameterType="map"
		resultType="int">
		SELECT CEIL(COUNT(inquery_idx)/#{cnt}) FROM inquery
			WHERE inquery_state = #{imqueryDTO.inquery_state} 
    		AND id_write LIKE CONCAT('%', #{imqueryDTO.id_write}, '%')
    		ORDER BY inquery_idx DESC LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<!-- 문의 아이디 검색 -->
	<select id="inqueryallsearch" resultType="com.sulbazi.inquery.InqueryDTO">
		SELECT id_write, inquery_subject, inquery_date, inquery_state,inquery_idx 
    		FROM inquery
    		WHERE id_write LIKE CONCAT('%', #{param1}, '%')
    		ORDER BY inquery_idx DESC LIMIT #{param2} OFFSET #{param3}
    		
	</select>
	
	<!--문의 검색 전체 페이징 -->
	<select id="inquerysearchallCount" resultType="int">
		SELECT CEIL(COUNT(inquery_idx)/#{param1}) FROM inquery
			WHERE id_write LIKE CONCAT('%', #{param2}, '%')
	</select>
	
	
	
	
	
	
	<select id="userinquerydetail"
		resultType="com.sulbazi.inquery.InqueryDTO">
		SELECT inquery_idx, id_write, inquery_subject, inquery_date, inquery_content 
			FROM inquery WHERE inquery_idx=#{param1}
	</select>
	
	
	<select id="answer"
		resultType="com.sulbazi.inquery.AnswerDTO">
		SELECT answer_date, answer_content,admin_id FROM answer WHERE inquery_idx=#{param1}
	</select>
	
	<update id="inquerystateupdate">
		UPDATE inquery SET inquery_state = 1 WHERE inquery_idx=#{param1}
	</update>
	
	<select id="answeradmin" resultType="com.sulbazi.admin.AdminDTO">
		SELECT admin_name,admin_id 
			FROM admin 
			WHERE admin_id IN (SELECT admin_id FROM answer WHERE inquery_idx = #{param1})
	</select>
	
	<insert id="adminanswerdo" >
		INSERT INTO answer(inquery_idx, admin_id, answer_content) 
			VALUES(#{param1}, #{param2}, #{param3})
	</insert>

	
</mapper>