<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.board.BoardDAO">

	<select id="boardlistgo" resultType="map">
		SELECT * FROM board ORDER BY board_idx DESC
	</select>
	
	<select id="detail" resultType="com.sulbazi.board.BoardDTO">
		SELECT * FROM board WHERE board_idx = #{param1}
	</select>
	
	<insert id="insertLike" parameterType="com.sulbazi.board.BoardLikeDTO">
        INSERT INTO board_like(board_idx, user_id)VALUES(#{board_idx}, #{user_id})
    </insert>

    <delete id="deleteLike" parameterType="com.sulbazi.board.BoardLikeDTO">
        DELETE FROM board_like WHERE board_idx = #{board_idx} AND user_id = #{user_id}
    </delete>

    <select id="isLiked" parameterType="com.sulbazi.board.BoardLikeDTO" resultType="boolean">
	    SELECT COUNT(*) > 0
	    FROM board_like
	    WHERE user_id = #{user_id} AND board_idx = #{board_idx}
	</select>
</mapper>