<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.board.BoardDAO">

	<select id="boardlistgo">
		SELECT b.*, s.store_name
		 FROM board b
		 LEFT JOIN store s ON b.store_idx = s.store_idx
		 ORDER BY b.board_idx DESC
    	 LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allCount" resultType="int">
		SELECT CEIL(COUNT(board_idx)/#{param1}) FROM board
	</select>
	
	<select id="detail" resultType="com.sulbazi.board.BoardDTO">
		SELECT * FROM board WHERE board_idx = #{param1}
	</select>
	
	<update id="del">
		UPDATE board SET board_state = 0 WHERE board_idx = #{param1}
	</update>
	
	<update id="bHit">
		UPDATE board SET board_bHit = board_bHit + 1 WHERE board_idx = #{param1}
	</update>
	
	<insert id="insertLike" parameterType="com.sulbazi.board.BoardLikeDTO">
        INSERT INTO board_like(board_idx, user_id)VALUES(#{board_idx}, #{user_id})
    </insert>

    <delete id="deleteLike" parameterType="com.sulbazi.board.BoardLikeDTO">
        DELETE FROM board_like WHERE board_idx = #{board_idx} AND user_id = #{user_id}
    </delete>
    
    <select id="getAllcategory" resultType="com.sulbazi.board.BoardDTO">
    	SELECT b.*, s.store_id
		 FROM board b
		 LEFT JOIN store s ON b.store_idx = s.store_idx
    </select>
    
    <select id="getSearch" resultType="com.sulbazi.board.BoardDTO">
    	SELECT b.*, s.store_id
	    FROM board b
	    LEFT JOIN store s ON b.store_idx = s.store_idx
	    WHERE (#{boardCategory} = '' OR b.board_category = #{boardCategory})
      	AND b.board_subject LIKE CONCAT('%', #{boardSearch}, '%')
    </select>

    <select id="isLiked" parameterType="com.sulbazi.board.BoardLikeDTO" resultType="boolean">
	    SELECT COUNT(*) > 0
	    FROM board_like
	    WHERE user_id = #{user_id} AND board_idx = #{board_idx}
	</select>
	
	<select id="getstore_idx" parameterType="String" resultType="int">
		SELECT store_idx FROM store WHERE store_id = #{store_id}
	</select>
	
	
	<insert id="boardWriteajax" 
		parameterType="com.sulbazi.board.BoardDTO">
		INSERT INTO 
		board(store_idx, board_subject, board_content, board_category)
			VALUES(#{store_idx}, #{board_subject}, #{board_content}, #{board_category})
	</insert>
	
	<select id="selectidx" resultType="String">
		SELECT store_name FROM store WHERE store_idx = #{param1}
	</select>
	
	<update id="updateajax" parameterType="com.sulbazi.board.BoardDTO">
		UPDATE board SET 
			board_subject = #{board_subject},
			board_content = #{board_content},
			board_category = #{board_category}
				WHERE board_idx = #{board_idx}
	</update>

	<select id="boardLike" resultType="int">
		SELECT COUNT(board_idx) 
		FROM board_like
		WHERE user_id = #{param1} AND board_idx = #{param2}
	</select>
	
	<insert id="boardLikedo" parameterType="map">
		INSERT INTO board_like (user_id, board_idx)
			VALUES(#{user_id}, #{board_idx})
	</insert>
	
	<delete id="boardLikeDel" parameterType="map">
		DELETE FROM board_like 
			WHERE user_id = #{user_id} AND board_idx = #{board_idx}
	</delete>
	
	<select id="boardCount" resultType="int">
		SELECT COUNT(*) 
		FROM board_like
		WHERE board_idx = #{board_idx}
	</select>
	
	<update id="boardLikeUpDate">
		UPDATE board SET like_count = #{param1} WHERE board_idx = #{param2}
	</update>
</mapper>