<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.board.BoardDAO">

	<select id="boardlistgo" resultType="map">
		SELECT * FROM board ORDER BY board_idx DESC
	</select>
	
	<select id="detail" resultType="com.sulbazi.board.BoardDTO">
		SELECT * FROM board WHERE board_idx = #{param1}
	</select>
</mapper>