<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.photo.PhotoDAO">
	<insert id="fileSave" parameterType="com.sulbazi.photo.PhotoDTO">
		INSERT INTO photo(photo_folder_idx, new_filename, photo_category_idx)
			VALUES(#{photo_folder_idx},#{new_filename}, #{photo_category_idx})
	</insert>
</mapper>