<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.sulbazi.photo.PhotoDAO">

	<insert id="fileSave" parameterType="com.sulbazi.photo.PhotoDTO">
		INSERT INTO photo(photo_folder_idx, new_filename, photo_category_idx)
			VALUES(#{photo_folder_idx},#{new_filename}, #{photo_category_idx})
	</insert>
	
	<select id="inqueryphoto" 
		resultType="com.sulbazi.photo.PhotoDTO">
		SELECT new_filename FROM photo 
			WHERE photo_category_idx=5 
			AND photo_folder_idx=#{param1};
	</select>

	<!-- 매장 대표사진 -->
	<select id="mystorebestphoto" 
		resultType="com.sulbazi.photo.PhotoDTO">
    		SELECT new_filename 
    			FROM photo 
    			WHERE photo_category_idx = 1 
    			AND photo_folder_idx = #{param1} 
   			 	ORDER BY photo_idx DESC  <!-- index를 내림차순으로 정렬 -->
    			LIMIT 1
	</select>
	
	<!-- 매장 내외부사진 -->
	<select id="mystorephoto" 
		resultType="com.sulbazi.photo.PhotoDTO">
		SELECT new_filename FROM photo 
			WHERE photo_category_idx=7 
			AND photo_folder_idx=#{param1}
			ORDER BY photo_idx DESC  <!-- index를 내림차순으로 정렬 -->
    		LIMIT 5
	</select>
	
	<insert id="storephotoinsert" parameterType="com.sulbazi.photo.PhotoDTO">
		INSERT INTO photo(photo_category_idx,new_filename,photo_folder_idx)
			VALUES(#{photo_category_idx},#{new_filename},#{photo_folder_idx})
	</insert>

	<!-- 매장 메뉴 사진 -->
    <select id="storemenuphoto" resultType="com.sulbazi.photo.PhotoDTO">
      	SELECT new_filename FROM photo WHERE photo_folder_idx=#{param1} AND photo_category_idx=2
   	</select>
   
   	<!-- 매장 술메뉴 사진 -->
   	<select id="alcholmenuphoto" resultType="com.sulbazi.photo.PhotoDTO">
      	SELECT new_filename FROM photo WHERE photo_folder_idx=#{param1} AND photo_category_idx=6
   	</select>
	
	<!-- 매장 메뉴 지우기 -->
	<delete id="menuphotodelete">
		DELETE FROM photo WHERE photo_folder_idx=#{param1} AND photo_category_idx=2
	</delete>
	
	<delete id="alcholphotodelete">
		DELETE FROM photo WHERE photo_folder_idx=#{param1} AND photo_category_idx=6
	</delete>
	
	
</mapper>

